name: Build Flet APK
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Dependencies
        run: |
          pip install flet
          sudo apt-get update
          sudo apt-get install -y ninja-build
      - name: Build APK
        run: flet build apk --no-prompt
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-flet-app-apk
          path: build/apk/*.apk
